@using Models;
@model IEnumerable<Models.Blog>

<h2>Blog Posts</h2>
<div class="col text-end pt-1">
    <a asp-controller="Blog" asp-action="Create" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Create Blog</a>
</div>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Blog Content</th>
                <th>Blog Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.BlogTitle</td>
                    <td>@post.BlogContent</td>
                    <td>@post.BlogCategory</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@post.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No blog posts available.</p>
}